   
    *{ font-family: 'Hanken Grotesk', sans-serif;
     }
     .result_summary {
        display: flex;
        width: 600px;
        height: 428px;
        align-items: center;
        margin: 25% 25% 25% 25%;
        background-color: #efe9f5;
        border-radius: 25px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    
     }
    
     .caja_izquierda {
        width: 299px;
        height: 428px;
        border-radius: 25px;
        background-image: linear-gradient(to bottom, #6642FE, #8B2CEA);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #DEFFFB;
     }
    
     .titulo{
        display: flex;
        width: 297px;
        height: 80px;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        margin-top: 10px;

     }

     .circulo {
        display: flex;
        width: 156px;
        height: 156px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 100px;
        flex-direction: column;
        background-image: linear-gradient(to bottom, #421AB5, #5f12ef);
     }

     .cantidad {
        display: flex;
        width: 156px;
        height: 98px;
        justify-content: space-evenly;
        font-size: 35px;
     }

     .numero {
        display: block;
        font-size: 2em;
        margin-block-start: 0.4em;
        margin-block-end: 0.4em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
     .texto {
        display: flex;
        width: 156px;
        height: 60px;
        justify-content: space-evenly;
        font-size: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
    
     }
     .of100{
        margin: 0;
     }

     .parrafo {
        display: flex;
        width: 298px;
        height: 160px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
        margin-top: 0px;
     }

     .great{
        display: flex;
        width: 297px;
        height: 80px;
        justify-content: center;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: -1px;
        padding-bottom: 0px;
        align-items: center;
     }

     .summary {
        display: flex;
        width: 173px;
        height: 80px;
        align-items: normal;
        justify-content: center;
        font-size: 14px;
        margin-top: 0px;
        padding-bottom: 40px;
        text-align: center;
        margin-bottom: 0px;
     }

     .caja_derecha {
        width: 299px;
        height: 428px;
        border-radius: 25px;
        background-color: rgb(252, 252, 252);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo_1{
        display: flex;
        width: 297px;
        height: 80px;
        align-items: center;
        font-size: 10px;
        margin-top: 18px;
        margin-left: 43px;
    }
    .contenedor{
        display: flex;
        width: 299px;
        height: 344px;
        font-size: 15px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        margin-bottom: 33px;
    }
    .contenedor > div{
        display: flex;
        width: 239px;
        height: 44px;
        border-radius: 6px;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
       justify-content: space-evenly;
    }
    .caja_1{
      background-color: #FFF1EF;
    }

    .reaction {
      color: #FF404D;
      margin-left: 8px;
      margin-right: 60px;
      font-weight: bold;
    }

   .caja_2{
      background-color: #FFF4DB;
    }

    .memory {
      color: #ffcd29;
      margin-left: 8px;
      margin-right: 60px;
      font-weight: bold;
    }

    .caja_3{
      background-color: #DEFFFB;
    }

    .verbal {
      color: #52A792;
      margin-left: 8px;
      margin-right: 65px;
      font-weight: bold;
    }

    .caja_4{
      background-color: #E3E3FF;
    }

    .visual {
      color: #504FB4;
      margin-left: 8px;
      margin-right: 65px;
      font-weight: bold;
    }

    .numerosnegrita{
      display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 36px;
    }
    .numero_negrita{
      font-weight: bold;
      margin-right: 1px;
    }

    .numero_ligth {
      font-weight: bold;
      margin-left: 1px;
      margin-right: 1px;
      color: #a3a3a3d0;
    }

    .boton{
        display: flex;
        width: 239px;
        height: 44px;
        border-radius: 100px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        background-color: #303B59;
        color: #DEFFFB;
        margin-bottom: 35px;
    }
